.infoCard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.TitleInfoCard{
    font-size: 1.7vw;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
}


.ContentInfoCard{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 5px;
}

.ContentInfoCard-title{
    width: 150px;
    font-size: 1vw;
}

.ContentInfoCard-content{
    width: 500px;
    font-size: 1vw;
}

@media screen and (max-width: 1000px) {
    .TitleInfoCard {
       font-size: 18px;
    }

    .ContentInfoCard-title{
        width: 150px;
        font-size: 12px;
    }
    
    .ContentInfoCard-content{
        width: 500px;
        font-size: 12px;
    }
  }