.arrowSkills{
    height: 50px;
    text-align: center;
    margin-top: 20px;
    grid-row: 3/4;
  }
  
  .title1 {
    align-self: center;
    color: white;
    grid-row:1/2;
    font-size: 4vw;
    font-weight: bold;
    padding-bottom: 2%;
  }
  
  .skills{
    grid-row:2/3;
    align-self: center;
    }

  .arrowSkills{
    grid-row:3/4;
    }